@use '../variables' as vars;

.infos-bar {
    padding: 16px 24px;
    background-color: vars.$white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

    &__infos {
        display: flex;
        gap: 40px;

        &__item {
            font-size: 14px;
            color: vars.$black;
            
            b {
                color: vars.$black;
                font-size: 18px;
                display: block;
            }
        }
    }

    @media( max-width: 640px ) {
        display: block;

        &__infos {
            display: block;
            gap: 0;

            &__item {
                margin-bottom: 24px;
            }
        }

    }

    @media (max-width: 1024px) {
        display: block;

        &__infos {
            
            gap: 16px;

            &__item {
                margin-bottom: 24px;
            }
        }
    }
}
