@use 'reset';
@use 'variables';
@use 'hero';

.container {
  max-width: 960px;
  color: white;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  


  @media (max-width: 640px) {
    max-width: 80%;
    
  }
  @media (max-width: 1024px) {
    max-width: 90%;
  }
}